.hero {
  margin-top: 0px;
  padding-top: 118px;
  padding-bottom: 118px;
  @include push--auto;
  background-repeat: no-repeat;
  // background-color: var(--background-footer);
  background-position: cover;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/Главная/hero-team/tablet-hero-team.jpg");
  background-size: scale-down;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    max-width: 480px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/img/Главная/hero-team/tablet-hero-team@2x.jpg");
  }

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/Главная/hero-team/mobile-hero-team.jpg");
    background-size: scale-down;
  }

  // ====================tablet===========================

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/Главная/hero-team/tablet-hero-team.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-color: var(--background-footer);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/Главная/hero-team/tablet-hero-team@2x.jpg");
  }

  // ====================desctop===========================

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/Главная/hero-team/desctop-hero-team.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-color: var(--background-footer);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/Главная/hero-team/desctop-hero-team@2x.jpg");
  }
}

.hero-pic {
  text-align: center;
  align-content: center;
  max-width: 480px;
  @include push--auto;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-title-button-color);
}

// ====================desctop===========================

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }

  .hero-pic {
    max-width: 694px;
  }
}
