@media screen and (min-width: 768px) {
  .footer-join {
    margin-top: 0%;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--text-title-button-color);

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.join-icon {
  fill: var(--text-title-button-color);
}

.footer-socials {
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
