.subscribe-footer {
  margin-left: 93px;
}

.form-subscribe-footer {
  display: flex;
}

.input-mail-footer {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
  align-items: center;
  color: var(--text-title-button-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: var(--background-footer);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  @include br(4px);
  margin-right: 12px;
}

.footer-button {
  display: flex;
}

.often-button {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  @include br(4px);
  border: none;
  cursor: pointer;
  color: var(--text-title-button-color);
  background: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-telegram {
  margin-left: 10px;
}
