.subscribe-footer {
  flex-direction: column;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: 93px;
  }
}

.form-subscribe-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.input-mail-footer {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
  align-items: center;
  color: var(--text-title-button-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: var(--background-footer);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  @include br(4px);
  margin-right: 12px;

  @media screen and (min-width: 480px) {
    width: 358px;
  }
}

.often-button {
  display: flex;

  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin: auto;
  margin-top: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  @include br(4px);
  border: none;
  cursor: pointer;
  color: var(--text-title-button-color);
  background: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

.icon-telegram {
  margin-left: 10px;
}
