.section-group {
  background-color: var(--button-background-color);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .team-preview {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}

.team {
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }

  & .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  & .position {
    line-height: 1.19;
    text-align: center;
    color: var(--paragraph-color);
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

.team-preview {
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-title-button-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text {
  // display: flex;
  // justify-content: center;

  // стояло до правок
  // padding: 30px 24px;

  padding: 30px 24px;

  // @media screen and (min-width: 768px) {
  //   padding: 24px 74px;
  // }

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team-icon {
  fill: var(--color-icon);
}
