.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-black);
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-web {
  color: var(--button-hover-color);
}

.logo-studio {
  color: var(--text-title-button-color);
}
