.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--color-black);
  // display: flex;
  // justify-content: center;

  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.logo-web {
  color: var(--button-hover-color);
}

.logo-studio {
  color: var(--text-title-button-color);
}
