body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--text-title-button-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
